{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_title %}Inda{% endblock %}

{% block navbar_start %}
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-globe"></i>
        </a>
    </li>
{% endblock %}