{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="row clearfix">
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div id="chart__" class="c3_chart d_sales"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
    </div>
{% endblock %}
